* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to top left, #CDB3D4, #E7B7C8, #FFBE88, #E7B7C8, #CDB3D4);
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
}

.modal {
    /* background: green; */
    position: absolute;
    /* float: left; */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.img-responsive {
    align-content: center;
    padding: 5%;
    width: 70vmin; 
    height: 70vmin;
    max-width: 500px; 
    max-height: 500px;
}