* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to top left, #CDB3D4, #E7B7C8, #FFBE88, #E7B7C8, #CDB3D4);
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
}

